@import url('https://fonts.googleapis.com/css2?family=Lato:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700 |Dancing+Script:400,500,600,700');


.text-center{
    background-color:#B4FDA0;
    padding: 5px;
    opacity:0.5;
}

.bg-color
{
    background-color: #88FF99;
    opacity:0.6;
}

.navbar-nav{
    color: #000000;
}
/*---font color in navbar #212520----*/

p {
  font-style: italic;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size:medium;

}
/*------------hero image------------*/

.hero-image{
    background-image:url("assets/media/images/full_size/Świdnica panoramic Piotr Marynowski.jpg");
    height: 50px;
    background-color: #B4FDA0;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    position:relative;
    
}

.













/*---.navbar-brand {
    display: inline-block;
    /* padding-top: .3125rem; */
    /* padding-bottom: .3125rem; */
    margin:10px, o;
    font-size: 1.25rem;
    line-height: 1.2em; /*10pt*  = 120%  /
    white-space: nowrap;
}




/*--------------------topnav with links
.topnav {
  overflow: hidden;
  background-color: #F8F9FA;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 300px;
  color: white;
  border-radius: 10px;
}*/

/*-------------- home page hero image----------
.heroImage {
	background:url("/assets/media/images/thumbnails/zalew_witoszówka.jpg");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

/*------------------ Footer
.general-subheading{
    font-family: Open+Sans, sans-serif;
    font-weight: 400;
    color:darkblue;
}

footer{
    background-color: #f8f9fa;
    min-height: 120px;

}
.inline-block{
    display:inline-block;
}-----*/
